/*background image*/
.bg-img{
    background-image: url(../assets/bg.jpg);
    height:725px;
    width: auto;
}
.footer-bg{
    background-color: black;
    height: 400px;
}
/*RESPONSIVE AT (MOBILE-L)*/
